doctype html 
html(lang="es")

head 
    title #{titulo}
    link(rel="stylesheet", href="/css/estilos.css")
    Este es el nombre de mi app 

body 
    h1 
        a(href="") Bienvenido a mi tienda #{color}

    div 
        p #{textoParrafo}
        img(src="/imagenes/camiseta3.png", alt="camiseta")